<div class="container">
    <div class="row mt-5">
        <div class="col-4 text-center"><a class="btn btn-primary" href="/Admin/Oxyzen">Oxyzen Donors</a></div>
        <div class="col-4 text-center"><a class="btn btn-primary" href="/Admin/ThirdParties">Manage API Users</a></div>
        <div class="col-4 text-center"><a class="btn btn-primary" href="/Admin/Plasma">Plasma Donors</a></div>
    </div>
</div>