@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="row mb-5">
        <div class="col-3"><a class="nav-link text-white btn btn-success btn-block" asp-area="" asp-controller="Home" asp-action="GetO2">Get O2</a></div>
        <div class="col-3"><a class="nav-link text-white btn btn-warning " asp-area="" asp-controller="Home" asp-action="GetPlasma">Get Plasma</a></div>
        <div class="col-3"><a class="nav-link text-white btn btn-success" asp-area="" asp-controller="Home" asp-action="DonateO2">Donate O2</a></div>
        <div class="col-3"><a class="nav-link text-white btn btn-warning " asp-area="" asp-controller="Home" asp-action="DonatePlasma">Be A Plasma Donor</a></div>
    </div>
            
       
            
        
        
            
      

        
            
        
    
    <!-- Carousel wrapper -->
    <div id="carouselBasicExample"
         class="carousel slide carousel-fade"
         data-mdb-ride="carousel">
        <!-- Indicators -->
        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active">
                <img src="https://www.usda.gov/sites/default/files/covid-header-2.png"
                     class="d-block w-100"
                     alt="..." />
               
            </div>

            <!-- Single item -->
            
        </div>
        <!-- Inner -->
        <!-- Controls -->

    </div>
    <!-- Carousel wrapper -->
    <h1 class="display-4">Stay Home Save you your family and others</h1>

</div>
